* {
    margin: 0;
    padding: 0;
}

html {
    display: block;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

#explanation {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    user-select: none;
}